{% extends 'base.html' %}
{% block title %}Bus Stop Detail{% endblock %}
{% block content %}
<div>
    <form action="/webapp/bus_stop/generate_bus_stop_sql/" method="post">
        {% csrf_token %}
        <input type="hidden" name="bus_stop_ids_string" value="{{ bus_stop_ids_string }}" />
        <input type="hidden" name="bus_stop_count" value="{{ total_bus_stop_info | length }}" />
        <table>
            <tr>
                <td>SR Number</td>
                <td><input type="text" name="sr_number" /></td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            {% for bus_stop_info in total_bus_stop_info %}
            <tr>
                <td>ID</td>
                <td>
                    {{ bus_stop_info.0 }}
                    <input type="hidden" name="bus_stop_id_{{ forloop.counter0 }}" value="{{ bus_stop_info.0 }}" />
                </td>
            </tr>
            <tr>
                <td>Street ID</td>
                <td>
                    <input type="text" name="street_id_{{ forloop.counter0 }}" value="{{ bus_stop_info.1 }}" />
                </td>
            </tr>
            <tr>
                <td>Short Name</td>
                <td>
                    <input type="text" name="short_name_{{ forloop.counter0 }}" value="{{ bus_stop_info.2 }}" />
                </td>
            </tr>
            <tr>
                <td>Long Name</td>
                <td>
                    <input type="text" name="long_name_{{ forloop.counter0 }}" value="{{ bus_stop_info.3 }}" />
                </td>
            </tr>
            <tr>
                <td>Location Code</td>
                <td>
                    <input type="text" name="location_code_{{ forloop.counter0 }}" value="{{ bus_stop_info.4 }}" />
                </td>
            </tr>
            <tr>
                <td>WAB Accessible</td>
                <td>
                    <input type="text" name="wab_accessible_{{ forloop.counter0 }}" value="{{ bus_stop_info.5 }}" />
                </td>
            </tr>
            <tr>
                <td>Non Bus Stop (Express)</td>
                <td>
                    <input type="text" name="non_bus_stop_{{ forloop.counter0 }}" value="{{ bus_stop_info.6 }}" />
                </td>
            </tr>
            <tr>
                <td>Interchange</td>
                <td>
                    <input type="text" name="interchange_{{ forloop.counter0 }}" value="{{ bus_stop_info.7 }}" />
                </td>
            </tr>
            {% if forloop.counter0 < total_bus_stop_info|length|add:-1 %}
            <tr><td colspan="2">&nbsp;</td></tr>
            {% endif %}
            {% endfor %}
        </table>
        <input type="submit" value="Generate" />
    </form>
</div>
{% endblock %}
