{% extends 'base.html' %}
{% block title %}{{ description }}{% endblock %}
{% block content %}
<div class="form">
    <form action="/webapp/bus_stop/bus_stop_detail/" method="post" id="bus_stop_form">
        {% csrf_token %}
        <input type="hidden" name="method" value="{{ method }}" />
        <div class="form-row">
            <label class="form-label">SR Number</label>
            <input class="form-textbox" type="text" name="sr_number" />
        </div>
        {% if method == 'BUS_STOP_ADD' %}
            <div class="form-row">
                <label class="form-label">CSV Name</label>
                {% include 'common/csv_list.html' %}
            </div>
        {% endif %}
        <div class="form-row">
            <label class="form-label">Stop IDs</label>
            <input class="form-textbox" type="text" name="bus_stop_ids" />
        </div>
        <div class="form-row">
            <input type="submit" value="{{ description }}" />
        </div>
    </form>
</div>
{% endblock %}

