<html>
    <head>
        <title>Bus Stop Detail - PTP Automate Tool</title>
    </head>
    <body>
        {% include 'common/header.html' %}
        <div>
            <form action="/webapp/bus_stop/generate_bus_stop_sql/" method="post">
                {% csrf_token %}
                <input type="hidden" name="original_url" value="{{ request.get_full_path }}" />
                <input type="hidden" name="bus_stop_count" value="{{ total_bus_stop_info | length }}" />
                {% for bus_stop_info in total_bus_stop_info %}
                <table>
                    <tr>
                        <td>ID</td>
                        <td>
                            {{ bus_stop_info.DATA.0.0 }}
                            <input type="hidden" name="bus_stop_id_{{ forloop.counter0 }}" value="{{ bus_stop_info.DATA.0.0 }}" />
                        </td>
                    </tr>
                    <tr>
                        <td>Street ID</td>
                        <td>
                            <input type="text" name="street_id_{{ forloop.counter0 }}" value="{{ bus_stop_info.DATA.0.1 }}" />
                        </td>
                    </tr>
                    <tr>
                        <td>Short Name</td>
                        <td>
                            <input type="text" name="short_name_{{ forloop.counter0 }}" value="{{ bus_stop_info.DATA.0.2 }}" />
                        </td>
                    </tr>
                </table>
                {% endfor %}
                <input type="submit" value="Generate" />
            </form>
        </div>
    </body>
</html>
