{% extends 'base.html' %}
{% block title %}{{ csv_type }} - Bus Route{% endblock %}
{% block content %}
<div>
    <form action="/webapp/bus_route/bus_route_handler/" method="post">
        {% csrf_token %}
        <input type="hidden" name="csv_type" value="{{ csv_type }}" />
        <table>
            <tr>
                <td>SR Number</td>
                <td>
                    <input type="text" name="sr_number" />
                </td>
            </tr>
            <tr>
                <td>CSV Name</td>
                <td>
                    {% include 'common/csv_list.html' %}
                </td>
            </tr>
            <tr>
                <td>Bus Service IDs</td>
                <td>
                    <input type="text" name="bus_service_ids" />
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Proceed" /></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}