{% extends 'base.html' %}
{% block title %}{{ description }}{% endblock %}
{% block content %}
<div class="form">
    <form action="/webapp/bus_route/bus_route_handler/" method="post" id="{{ method }}_FORM">
        {% csrf_token %}
        <div class="form-row">
            <label class="form-label">SR Number</label>
            <input class="form-textbox" type="text" name="sr_number" />
        </div>
        <div class="form-row">
            <label class="form-label">CSV Name NCS</label>
            {% include 'common/csv_list.html' with filed='csv_name_ncs' csv_list=csv_list_ncs %}
        </div>
        <div class="form-row">
            <label class="form-label">CSV Name LTA</label>
            {% include 'common/csv_list.html' with filed='csv_name_lta' csv_list=csv_list_lta %}
        </div>
        <div class="form-row">
            <label class="form-label">Service IDs</label>
            <input class="form-textbox" type="text" name="bus_service_ids" />
        </div>
        <div class="form-row">
            <input type="submit" value="{{ description }}" />
        </div>
    </form>
</div>
{% endblock %}