{% extends 'base.html' %}
{% block title %}{{ description }}{% endblock %}
{% block content %}
<div class="form">
    <form action="/webapp/taxi/taxi_handler/" method="post" id="{{ method }}_FORM">
        {% csrf_token %}
        <input type="hidden" name="method" value="{{ method }}">
        <div class="form-row">
            <label class="form-label">CSV Name</label>
            {% include 'common/csv_list.html' %}
        </div>
        <div class="form-row">
            <input type="submit" value="{{ description }}" />
        </div>
    </form>
</div>
{% endblock %}