body, table, tr, td {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, sans-serif;
    font-size: 13px;
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

#content {
    padding: 20px 30px;
}

/* menu */
#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
    z-index: 9999;
}

#menu > li {
    float: left;
}

#menu a {
    display: block;
    padding: 5px 12px;
    color: #BBB;
    font-weight: bold;
}

#menu a:hover {
    background: #333;
}

#menu a.current {
    color: #FFF;
}

.submenu {
    list-style-type: none;
    position: absolute;
    margin: 0;
    padding: 0;
    background: #000;
    display: none;
}

.submenu a {
    color: #FFF;
}

/* messages */
.messages {
    border: 1px dashed;
}

.messages .error {
    color: red;
}

.messages .info {
    color: green;
}

/* Street Search */
#street_search {
    position: absolute;
    right: 0;
    padding: 10px;
    background: #FFF;
    border: 1px solid #CCC;
    display: none;
    z-index: 9998;
}

#street_search_input {
    width: 300px;
    margin: 0 0 10px 0;
}

#keyword {
    width: 100px;
}

#street_search_result {
    width: 300px;
    height: 300px;
    overflow: auto;
}

#street_search_result .street {
    width: 100%;
    border: 1px solid;
}

#street_search_result .street td {
    border: 1px solid;
}