{% extends 'base.html' %}
{% block title %}{{ description }}{% endblock %}
{% block content %}
<div class="form">
    <form action="/webapp/db/db_handler/" method="post" id="db_form">
        {% csrf_token %}
        <input type="hidden" name="method" value="{{ method }}">
        <div class="form-row">
        {% if method == 'DB_BACKUP' %}
            <label class="form-label">SR Number</label>
            <input class="form-textbox" type="text" name="sr_number" />
        {% else %}
            <label class="form-label">Backup File</label>
            <select class="form-list-long" name="backup_name">
            {% for backup_name in backup_list %}
                <option value="{{ backup_name }}">{{ backup_name }}</option>
            {% empty %}
                <option value="">------------------------------N/A------------------------------</option>
            {% endfor %}
            </select>
        {% endif %}
        </div>
        <div class="form-row">
            <input type="submit" value="{{ description }}" />
        </div>
    </form>
</div>
{% endblock %}