{% extends 'base.html' %}
{% block title %}Dev DB Backup & Restore{% endblock %}
{% block content %}
<div>
    <form action="/webapp/db/backup/" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>SR Number</td>
                <td>
                    <input type="text" name="sr_number" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Backup" />
                </td>
            </tr>
        </table>
    </form>
</div>
<div>
    <form action="/webapp/db/restore/" method="post">
        {% csrf_token %}
        <div>
            <select name="backup_name">
            {% for backup_name in backup_list %}
                <option value="{{ backup_name }}">{{ backup_name }}</option>
            {% empty %}
                <option value="">-------N/A-------</option>
            {% endfor %}
            </select>
            <input type="submit" value="Restore" />
        </div>
    </form>
</div>
{% endblock %}