{% extends 'base.html' %}
{% block title %}{{ description }}{% endblock %}
{% block content %}
<div class="form">
    <form action="/webapp/sql/sql_handler/" method="{% if method == 'SQL_DOWNLOAD' %}get{% else %}post{% endif %}" id="sql_form">
        {% csrf_token %}
        <input type="hidden" name="method" value="{{ method }}">
        <div class="form-row">
            <label class="form-label">SQL Name</label>
            <select class="form-dropdown-list" name="sql_name">
            {% for sql_name in sql_list %}
                <option value="{{ sql_name }}">{{ sql_name }}</option>
            {% empty %}
                <option value="">------------------------------N/A------------------------------</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-row">
            <input type="submit" value="{{ description }}" />
        </div>
    </form>
</div>
{% endblock %}