{% extends 'base.html' %}
{% block title %}{{ description }}{% endblock %}
{% block content %}
<div class="form">
    <form action="/webapp/bus_service/bus_service_handler/" method="post" id="bus_service_form">
        {% csrf_token %}
        <input type="hidden" name="method" value="{{ method }}" />
        <div class="form-row">
            <label class="form-label">SR Number</label>
            <input class="form-textbox" type="text" name="sr_number" />
        </div>
        <div class="form-row">
        {% if method == 'BUS_SERVICE_ADD_OR_UPDATE' %}
            <label class="form-label">CSV Name</label>
            {% include 'common/csv_list.html' %}
        {% else %}
            <label class="form-label">Enable / Disable</label>
            <select name="enable_or_disable">
                <option value="BUS_SERVICE_DISABLE">Disable</option>
                <option value="BUS_SERVICE_ENABLE">Enable</option>
            </select>
        {% endif %}
        </div>
        <div class="form-row">
            <label class="form-label">Service IDs</label>
            <input class="form-textbox" type="text" name="bus_service_ids" />
        </div>
        <div class="form-row">
            <input type="submit" value="{{ description }}" />
        </div>
    </form>
</div>
{% endblock %}