{% load static %}
{% if menus %}
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
    <ul id="menu">
    {% for menu in menus %}
        <li class="menu-item"{% if menu.align %} style="float: {{ menu.align }};" {% endif %}>
            <a class="menu-link" target="{{ menu.target | default:'_top' }}" href="{{ menu.link }}">{{ menu.title }}</a>
        {% if menu.submenus %}
            <ul class="submenu">
            {% for submenu in menu.submenus %}
                <li class="submenu-item">
                    <a class="submenu-link" target="{{ submenu.target | default:'_top' }}" href="{{ submenu.link }}">{{ submenu.title }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endif %}