<script type="text/javascript" src="/static/js/menu.js"></script>
<div id="nav">
{% if MENUS %}
    <ul id="menu">
    {% for menu in MENUS %}
        <li {% if menu.ALIGN %}style="float: {{ menu.ALIGN }};" {% endif %}>
            <a href="{{ menu.LINK }}">{{ menu.TITLE }}</a>
        {% if menu.SUBMENUS %}
            <ul class="submenu">
            {% for submenu in menu.SUBMENUS %}
                <li>
                    <a href="{{ submenu.LINK }}">{{ submenu.TITLE }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endif %}
</div>