<script type="text/javascript" src="/static/js/street_search.js"></script>

<div id="street_search">
    <div id="street_search_switcher">Search Street</div>
    <div id="street_search_container">
        <div id="street_search_input">
            <input type="text" id="keyword" />
            <select id="keyword_type">
                <option value="ID">ID</option>
                <option VALUE="NAME">NAME</option>
            </select>
            <input type="button" id="street_search_btn" value="Search" />
        </div>
        <div id="street_search_result"></div>
    </div>
</div>